# Production
loguru
matplotlib
numpy
# opencv
pandas
python-dotenv
scikit-learn
scikit-image
tqdm
typer

# Development
black
flake8
isort
mkdocs

# Development notebook (optional)
jupyterlab
notebook
ipython

# Local package
-e .